<html>
	<head>
	<title>A simple WebPage</title>
	</head>
	<body>
	
	 #foreach ($rno in $attributeDataMap.keySet())
	 	#if($rno == "id")
	 		#set ($id = $attributeDataMap.get($rno)) 	
		#end
		#if($rno == "content")
	 		#set ($content= $attributeDataMap.get($rno))	   		   	
		#end
		#if($rno == "colorAttribute")
	 		#set ($color= $attributeDataMap.get($rno))	   		   	
		#end
						 
	 #end

	#if((!$id && !$content && !$color) || ($id=="" && $content=="" && $color==""))
		<p>Non hai inserito nulla</p>
	#else 
	<h1 id="$id" style="color:$color;">$!content</h1> 
		<h2>$!content</h2>
		<hr></hr>
		<p>$!content</p>
	#end

	</body>
</html>
